@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content:flex-start;
    background-color: rgb(105, 103, 103);
}
nav li{
    margin-left: 17px;
    padding: 2px;
}
nav li:nth-child(2), .navBar li:hover{
    border: 1px solid black;
    border-radius: 4px;
    background-color: dimgrey;
    color: floralwhite;
}
.container{
    max-width: 800px;
    background-color: rgb(154, 224, 201);
    border-radius: 5px;
}
.addCarForm{
    display: flex;
    justify-content: flex-end;
}
.leftSide, .rightSide{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dataEstProfit{
    display: flex;
}
.data{
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    white-space:nowrap;
}
.estProfit, .estimatedProfitOutput{
    font-weight: 900;
}
.saveButtonContainer{  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.button{
border-radius: 4px;
margin: 4px;
}